$default-teal: #1eacaa;
$default-white: #ffffff;
$default-tan: #d6bfab;
$default-dark-gray: #ededed;
$default-light-gray: #b0b0b0;
$default-red: #a91f1d;
$default-green: #27722f;
$default-blue: #3d6072;

