$default-teal: #1eacaa;
$default-white: #ffffff;
$default-tan: #d6bfab;
$default-dark-gray: #ededed;
$default-light-gray: #b0b0b0;
$default-red: #a91f1d;
$default-green: #27722f;
$default-blue: #3d6072;

@import 'bourbon/bourbon';

html {
	background-color: #000000;
}

header {
	margin-top: -2%;
	width: 100%;
	position: relative;
	background-color: $default-teal;
	max-height: 100px;
	border-bottom: 2px solid $default-tan;
	z-index: 2;
	img.brolik_logo {
   		max-width: 100px;
   		display: block;
  		margin: 0 auto;
  		padding: 3% 0% 2% 0%;
   		}
	}
div#container {
	width: 100%;
	img.cover {
		width: 100%;
		margin-top: -30%;
		-webkit-filter: opacity(.5);
    	filter: opacity(.5);
	}
	section#todo_list {
		height: 100px;
		background-color: $default-white;
		border-top: 2px solid $default-tan;
		margin-top: -25%;
		position: relative;
		border-bottom: 10px solid $default-teal;
		height: 500px;
		#active_list {
			width: 35%;
			float: left;
			height: 100px;
			// border: 2px solid black;
			margin-left: 20%;
			margin-top: 5%;
			
		}
		#current_lists {
			width: 20%;
			float: left;
			
			// border: 2px solid black;
			margin-left: 5%;
			margin-top: 5%;
			
		}
	}
}

div.display_list_items {
	clear: both;
	padding-top: 2%;
	border-bottom: 2px solid $default-tan;
	border-top: 2px solid $default-tan;
	height: 200px;

	
}
div.display_current_lists {
	clear: both;
	padding-top: 2%;
	border-bottom: 1px solid $default-tan;
	border-top: 1px solid $default-tan;
	height: 150px;
}

h1.list_title {
	float: left;

	}


div.crud {
	border: 2px solid black;
	// max-height: 20px;
	// margin: 0 auto;
	float: right;
	margin-top: 5%;
	width: 40%;
	// padding: 2%;

}
	
span.action {
		padding: 0% 5%;
		// display: inline-block;
		float: right;
	}
		



	


